<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="#">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">In Progress</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Complete</a>
  </li>
</ul>
<table class="table">
  <thead class="table-dark">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Status</th>
    <th>FromUser</th>
    <th>ToUser</th>
    <th>At Time</th>
    <th>Option</th>
  </tr>
  </thead>
  <tbody>
  <%# @tasks.each do |task| %>
<!--    <tr>-->
<!--      <td><%#= task.name %></td>-->
<!--      <td>2</td>-->
<!--      <td>2</td>-->
<!--      <td>2</td>-->
<!--      <td>2</td>-->
<!--      <td>2</td>-->
<!--      <td>2</td>-->
<!--    </tr>-->
  <%# end %>
  </tbody>
</table>
