<table class="table">
  <thead class="table-dark">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Status</th>
    <th>FromUser</th>
    <th>ToUser</th>
    <th>At Time</th>
    <th>Option</th>
  </tr>
  </thead>
  <tbody>
  ...
  </tbody>
</table>